@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 80rem;
    margin: 0 auto;
}

header {
    position: relative;
}

nav {
    position: relative;
    padding: 3.125rem 0;
}

nav .logo a {
    font-weight: 600;
    font-size: 1.25rem;
    color: #222;
    text-decoration: none;
}

nav ul.nav {
    float: right;
    list-style: none;
}

nav ul.nav li {
    display: inline;
    margin-left: 1.5625rem;
    cursor: pointer;
}

nav ul.nav li a {
    text-decoration: none;
    transition: .5s ease;
    color: #222;
}

nav ul.nav li a:hover {
    color: #ff7800;
}

nav .shop-cart-button {
    float: right;
    cursor: pointer;
    transition: .5s ease;
}

nav .shop-cart-button:hover,
nav .shop-cart-button.active {
    color: #ff7800;
    transform: scale(1.5);
}

nav .shop-cart {
    position: absolute;
    top: 6.25rem;
    right: 0;
    width: 28.125rem;
    background: #fafafa;
    -webkit-box-shadow: 0.25rem 0.3125rem 0.9375rem -0.4375rem #606060;
    box-shadow: 0.25rem 0.3125rem 0.9375rem -0.4375rem #606060;
    z-index: 1000;

    padding: 1.25rem 1.25rem 0;
}

nav .shop-cart .empty h2 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

nav .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 1.25rem;
}

nav .shop-cart .item img {
    width: 4.375rem;
    float: left;
    margin-right: 1.25rem;
}

nav .shop-cart .item h2 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

nav .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}

nav .shop-cart .item .delete-icon {
    color: #ff7800;
    float: right;
    position: relative;
    top: -1.5625rem;
    cursor: pointer;
    transition: .5s ease;
}

nav .shop-cart .item .delete-icon:hover {
    color: #ff7800;
    transform: scale(1.5);
}

nav .shop-cart .sum {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

header .presentation {
    margin: 3.125rem 0;
    width: 100%;
    height: 31.25rem;
    background-size: cover;
    background-blend-mode: multiply;
    background: #bcbcbc url(img/hero-banner.webp) no-repeat center;
    position: relative;
}

header .presentation::after {
    content: "Fresh and Organic Products";
    position: absolute;
    top: 9.375rem;
    left: 3.125rem;
    width: 18.75rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

header .presentation::before {
    content: "At low cost";
    position: absolute;
    top: 19.0625rem;
    left: 3.125rem;
    width: 18.75rem;
    font-size: 0.9375rem;
    font-weight: 300;
    color: #fff;
}

header .presentation .hero-shop-button {
    padding: 0.625rem;
    font-size: 0.875rem;
    position: absolute;
    bottom: 7.8125rem;
    left: 3.125rem;
    color: #fff;
    border: 0.0625rem solid #fff;
    background-color: transparent;
    transition: .5s ease;
    border-radius: 0.3125rem;
}

header .presentation .hero-shop-button:hover {
    /* border-color: #222; */
    background-color: #f2f2f2;
    color: #222;
}

/* Features */
.features {
    padding: 6.25rem 0;
}

.header__primary {
    text-align: center;
}

.feature-wrapper {
    padding-top: 4.375rem;
    display: flex;
    justify-content: space-between;
}

.feature {
    text-align: center;
}

.feature img {
    display: block;
    margin: 0 auto;
    max-height: 9.3125rem;
}

.feature-title {
    font-weight: 600;
    padding: 0.625rem 0;
}

.feature-description {
    padding: 0.625rem 0;
}

.feature-button {
    padding: 0.625rem 1.25rem;
    margin-top: 0.625rem;
    border-color: transparent;
    border-radius: 3.125rem;
    color: #fff;
    font-weight: 300;
    transition: .5s ease;
    background: #ff7800;
    font: 1rem 'Montserrat';
}

.feature-button:hover {
    transform: scale(1.1);
    /*border: 1px solid silver;*/
}

/* Products */
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3.125rem;
}

.product {
    width: 30%;
    border: 0.1875rem solid #f2f2f2;
    border-radius: 0.625rem;
    cursor: pointer;
    margin-bottom: 3.125rem;
}

.product:hover .product-img-wrapper img {
    transform: scale(.55);
}

.product:hover .product-price {
    color: #ff7800;
}

.product .product-img-wrapper {
    height: 15.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .product-img-wrapper img {
    display: block;
    margin: 0 auto;
    transform: scale(.5);
    transition: .5s ease;
}

.product-title {
    padding: 0.625rem 0;
    text-align: center;
    border-top: 0.1875rem solid #f2f2f2;
    font-weight: 600;
    font-size: 1.25rem;
}

.product-price {
    text-align: center;
    padding-bottom: 0.625rem;
}

.view-products {
    padding: 0.625rem 1.25rem;
    font: 1rem 'Montserrat';
    color: #fff;
    border: 0.0625rem solid #fff;
    background-color: #ff7800;
    transition: .5s ease;
    border-radius: 3.125rem;
    display: block;
    margin: 1.875rem auto 6.25rem auto;
    cursor: pointer;
}

.view-products:hover {
    transform: scale(1.05);
}

.categories {
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    transition: .5s ease;
    margin-bottom: 1.5625rem;
}

.categories-carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: .5s ease;
}

.categories-carousel div {
    display: inline-block;
    background: #f2f2f2;
    border-radius: 3.125rem;
    padding: 0.625rem 1.25rem;
    margin-right: 0.9375rem;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    transition: .5s ease;
}

.categories-carousel div:hover {
    border-color: silver;
    transform: scale(1.05);
}

.categories .scroller {
    position: absolute;
    border: 0.0625rem #f2f2f2 solid;
    cursor: pointer;
    right: -2.5rem;
    padding: 0.625rem 1.25rem;
    background: #f2f2f2;
    border-radius: 3.125rem;
}

.reviews-wrapper {
    padding: 6.25rem 0;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3.125rem;
}

.review {
    width: 30%;
    border: 0.1875rem solid #f2f2f2;
    border-radius: 0.625rem;
    cursor: pointer;
    margin-bottom: 3.125rem;
}

.review img {
    border-radius: 50%;
    display: block;
    margin: 2.5rem auto;
    max-width: 9.375rem;
    max-height: 9.375rem;
}

.review .review-comment {
    padding: 1.25rem 0.625rem;
    text-align: center;
}

.stars {
    color: #ff7800;
    display: flex;
    justify-content: center;
    padding: 1.25rem 0 40PX 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .item {
    width: 95%;
    margin-bottom: 3.125rem;
    overflow: hidden;
    position: relative;
    padding-bottom: 1.25rem;
    border: 0.1875rem solid #f2f2f2;
    border-radius: 0.625rem;
}

main .item h2 {
    border-top: 0.1875rem solid #f2f2f2;
    color: #333;
    padding: 0.625rem 1.25rem;
}

main .item:not(:last-child) {
    margin-right: 3%;
}

main .item img {
    width: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
    transition: .5s ease;
}

main .item img:hover {
    transform: scale(1.05);
}

main p, main b {
    margin: 0.625rem 1.25rem;
    color: #333;
}

main b {
    color: #5fa36a;
}

main .add-to-cart {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    background: #ff7800;
    width: 2.1875rem;
    height: 2.1875rem;
    text-align: center;
    line-height: 2.1875rem;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: .5s ease;
}

main .add-to-cart:hover {
    transform: scale(1.5) translateY(-0.3125rem);
}


/* Footer */
.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    padding: 4.375rem 0;
}

.footer-col {
    width: 25%;
    padding: 0 0.9375rem;
}

.footer-col h4 {
    font-size: 1.125rem;
    color: #222;
    text-transform: capitalize;
    margin-bottom: 2.1875rem;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.625rem;
    background-color: #ff7800;
    height: 0.125rem;
    box-sizing: border-box;
    width: 3.125rem;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 0.625rem;
}

.footer-col ul li a {
    font-size: 1rem;
    text-transform: capitalize;
    color: #222;
    text-decoration: none;
    font-weight: 300;
    color: #222;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #24262b;
    padding-left: 0.5rem;
}

.footer-col .social-links a {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 0.625rem 0.625rem 0;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #222;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ff7800;
    background-color: #ffffff;
}

/* Contact Us page */
.contacts-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.contacts-container .contacts-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contacts-row section.contacts-col {
    display: flex;
    flex-direction: column;
}

.contacts-row section.left {
    max-width: 50%;
}

.contacts-row section.right {
    max-width: 50%;
}

section.left .contactTitle h2 {
    position: relative;
    font-size: 1.75rem;
    color: #222;
    display: inline-block;
    margin-bottom: 1.5625rem;
}

section.left .contactTitle h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0.0625rem;
    /* background-color: #888; */
    top: 120%;
    left: 0;
}

section.left .contactTitle h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 0.1875rem;
    background-color: #ff7800;
    top: calc(120% - 0.0625rem);
    left: 0;
}

section.left .contactTitle p {
    font-size: 1.0625rem;
    color: #222;
    letter-spacing: 0.0625rem;
    line-height: 1.2;
    padding-bottom: 1.375rem;
}

section.left .contactInfo {
    margin-bottom: 1rem;
}

.contactInfo .iconGroup {
    display: flex;
    align-items: center;
    margin: 1.5625rem 0;
}

.iconGroup .icon {
    width: 2.8125rem;
    height: 2.8125rem;
    border: 0.125rem solid #ff7800;
    border-radius: 50%;
    margin-right: 1.25rem;
    position: relative;
}

.iconGroup .icon svg {
    font-size: 1.25rem;
    color: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iconGroup .contacts-details span {
    display: block;
    color: #222;
    font-size: 1.125rem;
}

.iconGroup .contacts-details span:nth-child(1) {
    text-transform: uppercase;
    color: #222;
}

section.left .socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.375rem 0 1.25rem;
}

.socialMedia a {
    /* width: 35px;
    height: 35px; */
    text-decoration: none;
    text-align: center;
    margin-right: 0.9375rem;
    border-radius: 0.3125rem;
    background-color: #ff7800;
    transition: 0.4s;
}

.socialMedia a svg {
    color: #222;
    font-size: 1.125rem;
    line-height: 2.1875rem;
    border: 0.0625rem solid transparent;
    transition-delay: 0.4s;
    padding: 0.625rem;
}

/* Code for the right section (column) */

.contacts-row section.right .messageForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1.875rem;
}

.contacts-row section.right .inputGroup {
    margin: 1.125rem 0;
    position: relative;
}

.messageForm .halfWidth {
    flex-basis: 48%;
}

.messageForm .fullWidth {
    flex-basis: 100%;
}

.messageForm input, .messageForm textarea {
    width: 100%;
    font-size: 1.125rem;
    padding: 0.125rem 0;
    /* background-color: #2e2e2e; */
    color: #222;
    border: none;
    border-bottom: 0.125rem solid #222;
    outline: none;
}

.messageForm textarea {
    resize: none;
    height: 13.75rem;
    display: block;
}

textarea::-webkit-scrollbar {
    width: 0.3125rem;
}

textarea::-webkit-scrollbar-track {
    /* background-color: #1e1e1e; */
    border-radius: 0.9375rem;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ff7800;
    border-radius: 0.9375rem;
}

.inputGroup label {
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    color: #222;
    font-size: 1.125rem;
    transition: 0.4s;
    pointer-events: none;
}

.inputGroup:nth-child(4) label {
    top: 0.125rem;
}

.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label {
    transform: translateY(-1.875rem);
    font-size: 1rem;
}

.inputGroup button {
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    background-color: #ff7800;
    color: #222;
    border: 0.0625rem solid transparent;
    border-radius: 1.5625rem;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

.inputGroup button:hover {
    /* background-color: #2e2e2e; */
    color: #ff7800;
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.3);
    border: 0.0625rem solid dodgerblue;
}

@media (max-width: 1100px) {
    .messageForm .halfWidth {
        flex-basis: 100%;
    }
}

@media (max-width: 900px) {
    .contacts-container .contacts-row {
        flex-wrap: wrap;
    }

    .contacts-row section.left, .contacts-row section.right {
        flex-basis: 100%;
        margin: 0;
    }
}

/* All Products Section*/
.allProducts-wrapper .categories {
    padding-top: 1.25rem;
}

.allProducts-wrapper main {
    padding-top: 1.25rem;
}

/* Authorization, Login, Signin, Signup, Registration page */
.auth-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form-outer {
    /*border: 3px solid #ff7800;*/
    border-radius: 3.125rem;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(0.5625rem);
}

.auth-form-wrapper {
    padding: 6.25rem 25rem;
}

.auth-form-wrapper .header__primary {
    font-size: 1.5625rem;
    padding-bottom: 1.875rem;
    font-weight: normal;
}

.auth-inputBox {
    margin-top: 1.875rem;
    position: relative;
}

.auth-inputBox input {
    width: 100%;
    position: relative;
    background-color: transparent;
    padding: 0.625rem 1.25rem;
    outline: none;
    font: 1.25rem 'Montserrat';
    border: none;
    z-index: 1;
    transition: .7s ease;
}

.auth-inputBox span {
    position: absolute;
    left: 0;
    top: 0.625rem;
    font-size: 1.0625rem;
    transition: .5s ease;
    pointer-events: none;
}

.auth-inputBox .active {
    font-size: 0.625rem;
    top: -0.625rem;
    left: 0.9375rem;
}

.auth-inputBox i {
    width: 100%;
    background-color: #ff7800;
    height: 0.1875rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s ease;
    border-radius: 3.125rem;
}

.auth-inputBox input:focus {
    color: #fff;
}

.auth-inputBox input:focus + span {
    font-size: 0.625rem;
    top: -0.625rem;
    left: 0.9375rem;
}

.auth-inputBox input:focus ~ i {
    height: 2.5rem;
}

.auth-links {
    display: flex;
    justify-content: space-between;
    padding-top: 0.625rem;
}

.auth-links a {
    color: #222;
    text-decoration: none;
}

.auth-links a:hover {
    text-decoration: underline;
}

.auth-form-wrapper .log-submit {
    display: block;
    width: 100%;
    padding: 0.9375rem 0;
    background-color: #ff7800;
    border-radius: 3.125rem;
    font-weight: 400;
    font: 1rem 'Montserrat';
    border: none;
    margin: 2.5rem auto 1.25rem auto;
    cursor: pointer;
}

.auth-links-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-links-2 a {
    color: #222;
    text-decoration: none;
}

.auth-links-2 a:hover {
    text-decoration: underline;
}

/* Admin nav */
.admin-nav ul {
    float: right;
}

.admin-nav ul .active {
    color: #ff7800;
}

.admin-nav ul li {
    display: inline;
    cursor: pointer;
    transition: .5s ease;
}

.admin-nav ul li:hover {
    color: #ff7800;
}

.admin-nav ul li:not(:last-child) {
    margin-right: 1.5625rem;
}

/* User */
.users-wrapper {
    width: 100%;
    min-height: 49%;
}
.user:nth-child(odd) {
    background-color: #f2f2f2;
}
.user {
    padding: 0.625rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user input {
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.1875rem;
    font: 0.875rem 'Montserrat';
    outline: none;
    width: 9.375rem;
}

.user div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .edit {
    border: 0.0625rem solid #222;
    font: 0.875rem 'Montserrat';
    outline: none;
}

.user input:focus {
    outline: none;
    border: none;
}

.user svg {
    transition: .5s ease;
}

.user svg:hover {
    color: #ff7800;
}

.user .vanish {
    opacity: 0;
    display: none;
}

.add-product {
    float: right;
    padding: 0.9375rem;
    color: #fff;
    background-color: #ff7800;
    border-radius: 3.125rem;
    margin-bottom: 1.25rem;
    cursor: pointer;
    transition: .5s ease;
    border: 0.1875rem solid transparent;
}

.add-product:hover {
    background-color: #fff;
    color: #ff7800;
    border-color: #ff7800;
}

.modal {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff7800;
    border-radius: 0.625rem;
    border: #fff 0 solid;
}

.invisible {
    opacity: 0;
    display: none;
}

.create-product {
    width: 30%;
}

.modal-content {
    padding: 6.25rem 6.25rem;
}

.modal-content .header__primary {
    color: #fff;
}

.modal-btn-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
}

.modal-btn-wrapper button {
    padding: 0.9375rem 2.5rem;
    border-radius: 3.125rem;
    border: #fff 0 solid;
    color: #222222;
    cursor: pointer;
    font: 0.875rem 'Montserrat';
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0.9375rem;
}

.product-details input {
    padding: 0.9375rem;
    border-radius: 3.125rem;
    border: none;
    font: 0.9375rem 'Montserrat';
    margin-bottom: 0.625rem;
    outline: none;
}

.create-product button{
    width: 100%;
    padding: 0.9375rem 0;
    margin-top: 0.3125rem;
}

.create-product svg {
    float: right;
    position: relative;
    top: 0.9375rem;
    right: 0.9375rem;
    color: #fff;
    cursor: pointer;
}

.profile-outer {
    min-height: 55vh;
}

.profile-outer .profile-img {
    background: url("./img/profile.webp") no-repeat;
    background-size: cover;
    width: 40%;
    height: 45%;
    border-radius: 50%;
    display: block;
    margin: 6.25rem auto 0 auto;
}

.profile-name .header__primary {
    font: 1.5625rem 'Montserrat';
    font-weight: 600;
    text-align: center;
    padding-top: 1.25rem;
}

.profile-email {
    color: #222222;
    text-align: center;
    font: 1.25rem 'Montserrat';
    margin: 1.875rem 0;
}

.profile-phone {
    color: #222222;
    text-align: center;
    font: 1.25rem 'Montserrat';
}

.search-bar {
    display: flex;
    padding-top: 6.25rem;
}

.search-bar p {
    margin-right: 3.125rem;
}

.search-bar input {
    background-color: #f2f2f2;
    border: none;
    outline: none;
    padding: 0.625rem 1.25rem;
    border-radius: 3.125rem;
    font: 1rem 'Montserrat';
}

.categories p {
    margin-right: 6.25rem;
}